<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :status, 'ステータス' %>：
    <%= f.select :status, @status_list.invert, :include_blank => true %>
  </div>
  
  <div>
    <%= f.label :content, 'タスク' %>：
    <%= f.text_field :content %>
  </div>

  <%= f.submit '投稿' %>
<% end %>
