<h1>メッセージ一覧</h1>

<% if @tasks.any? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-xs-1">id</th>
        <th class="col-xs-9">タスク</th>
        <th class="col-xs-2">ステータス</th>
      </tr>
    </thead>
    <tbody>
      
<% @tasks.each do |task| %>

        <tr>
          <td>
<%= link_to task.id, task %>
</td>
          <td>
<%= task.content %>
</td>
          <td>
<%= task.status %>
</td>
        </tr>
      
<% end %>

    </tbody>
  </table>
  <div>

<%= paginate @tasks %>

  </div>
<% end %>


<%= link_to '新規タスクの投稿', new_task_path, class: "btn btn-primary" %>
